@media (max-width: 768px) {
    .form-container h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: #444;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
    height: 295px;
}

label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

input:focus {
    border-color: #4facfe;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4facfe;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00f2fe;
}

span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

#close-session {
    background-color: #ff5a5f;
}

#close-session:hover {
    background-color: #ff7b6b;
}

#login-form span,
#register-form span {
    font-size: 0.9em;
    margin-top: 5px;
}

#login-form span.success,
#register-form span.success {
    color: green;
}

#login-form span.error,
#register-form span.error {
    color: red;
}
