<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videogame</title>
    <link rel="stylesheet" href="/detall.css">
</head>

<body>
    <header>
        <h1>Videogame</h1>
        <a href="/videogames">Tornar al llistat</a>
    </header>

    <main class="main-container">
        <section class="item-list">
            <ul>
                <li class="item">
                    <article class="card">
                        <h2 class="item-name">
                            <%= videogame.name %>
                        </h2>
                        <p class="item-type"><strong>Tipus:</strong>
                            <%= videogame.type %>
                        </p>
                        <p class="item-creator"><strong>Creator:</strong>
                            <%= videogame.creator %>
                        </p>
                    </article>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>